.*
!.gitignore
!.perltidyrc

*~

log
blib
Makefile*
!Makefile.PL
*META.*
MANIFEST*
!MANIFEST.SKIP
pm_to_blib

debian/tmp
debian/files
debian/libmojolicious-plugin-tokenauth-perl*
debian/debhelper-build-stamp

